{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-left:20%;">
            <div class="panel panel-default" style="width:450px;">
                <div class="panel-heading">
                    <h3 class="panel-title">UDN participant please input your data here:</h3>
                </div>
                <div class="panel-body"  style="width:500px;">
                    <form action="/participants/add" method="post">{% csrf_token %}
                        <table>
                            {{ form }}
                        </table>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="Add My Data" />
                            </center>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
